#tabs vertical{
	height: 100%;
}

.off-canvas-list{
	height: 100%;
}

li{
	height:100%;
	width: auto;
	text-decoration: none;
}

.content{
	height: 100%;
	width: auto;
}

.orbit-caption{
	 bottom: 0px;
    padding-bottom: 35px;
    padding-top: 10px;
    margin-bottom: 30px;
    top: 100px;
}

table,
tr{
	width: 100%;
}

table{
	text-align: center;
}
   
button.tiny, .button.tiny {
padding-top: 0.425rem;
padding-right: 1.25rem;
padding-bottom: 0.6875rem;
padding-left: 1.25rem;
font-size: 0.6875rem; 
}

td {
	background: white;
}

.button-bar-1{
	width: 200px;
	margin-top: 20px;
	margin-left: 75px;
}

.button-bar-2{
	width: 200px;
	margin-left: 60px;
}

.button-bar{
	margin-left: 35px;	
}

.play{
	width: 90px;
}

.stop{
	width: 105px;
}

.back{
	width: 103px;
}

.power{
	margin-left: 90px;
	margin-top: 20px;
}
